# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/
data/features/
data/results/

# OS files
.DS_Store
Thumbs.db